<section class="info">
    <div class="container d-flex my-4">
        <div class="col-lg-4">
            <div class="primero border rounded-1 mx-2">
                <h6 class="titulo lead fw-bold text-secondary text-center fs-6 mt-2 mx-1">Prestamos</h6>
                <hr class="mx-5 mt-1">
                <div class="mt-1 mx-3">
                    <p class="head"><i class="fad fa-abacus"></i> Cantidad</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-calendar-check"></i> Completados</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-clock"></i> En curso</p>
                    <p class="text">texto</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="segundo border rounded-1 mx-2">
                <h6 class="titulo lead fw-bold text-secondary text-center fs-6 mt-2 mx-1">Pagos</h6>
                <hr class="mx-5 mt-1">
                <div class="mt-1 mx-3">
                    <p class="head"><i class="fad fa-abacus"></i> Cantidad</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-check-circle"></i> Correctos</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-times-circle"></i> Incorrectos</p>
                    <p class="text">texto</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="tercero border rounded-1 mx-2">
                <h6 class="titulo lead fw-bold text-secondary text-center fs-6 mt-2 mx-1">Prestamos actuales</h6>
                <hr class="mx-5 mt-1">
                <div class="actual mt-1 mb-2 mx-3"> <!-- Se repetira varias veces. -->
                    <p class="head"><i class="fad fa-money-check-alt"></i> Monto</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-abacus"></i> Pagos a realizar</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-calendar-check"></i> Pagos realizados</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-check-circle"></i> Pagos correctos</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-times-circle"></i> Pagos incorrectos</p>
                    <p class="text">texto</p>
                </div>
            </div>
        </div>
    </div>
</section>
