<section class="info">
    <div class="container d-flex my-3">
        <div class="col-lg-4">
            <div class="primero border rounded-1 mx-5">
                <h6 class="titulo lead fw-bold text-secondary text-center fs-6 mt-2 mx-1">Información básica</h6>
                <hr class="mx-5 mt-1">
                <div class="mt-1 mx-3">
                    <p class="head"><i class="fad fa-exclamation-circle"></i> Estado</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-address-book"></i> Tipo</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-user-edit"></i> Nombre completo</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-venus-mars"></i> Sexo</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-calendar-day"></i> Edad</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-rings-wedding"></i> Estado civil</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-globe-americas"></i> Nacionalidad</p>
                    <p class="text"><i></i> texto</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="segundo border rounded-1 mx-5">
                <h6 class="titulo lead fw-bold text-secondary text-center fs-6 mt-2 mx-1">Información de trabajo y documentación</h6>
                <hr class="mx-5 mt-1">
                <div class="mt-1 mx-3">
                    <p class="head"><i class="fad fa-building"></i> Empresa</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-diploma"></i> Profesión</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-user-tie"></i> Posición</p>
                    <p class="text">texto</p>
                </div>
                <div class="mt-4 mx-3">
                    <p class="head"><i class="fad fa-id-card"></i> Identificación</p>
                    <p class="text">texto</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="tercero border rounded-1 mx-5">
                <h6 class="titulo lead fw-bold text-secondary text-center fs-6 mt-2 mx-1">Información de contacto y dirección</h6>
                <hr class="mx-5 mt-1">
                <div class="mt-1 mx-3">
                    <p class="head"><i class="fad fa-phone"></i> Telefono</p>
                    <p class="text">texto</p>
                    <p class="head"><i class="fad fa-envelope-open-text"></i> Correo</p>
                    <p class="text">texto</p>
                </div>
                <div class="mt-4 mx-3">
                    <p class="head"><i  class="fad fa-home"></i> Dirección</p>
                    <p class="text mb-0">Calle + numero de casa</p>
                    <p class="text mb-0">Codigo Postal</p>
                    <p class="text mb-0">Ciudad</p>
                    <p class="text mb-0">Region</p>
                    <p class="text">Pais</p>
                </div>
            </div>
        </div>
    </div>
</section>

