<section class="puntaje">
    <div class="mt-3 mx-3">
        <h3 class="text-secondary fw-bold fs-5">Este es el puntaje de {{cliente}}:</h3>
    </div>
    <div class="container d-flex">
        <div class="col-lg-4">
            <div class="score border rounded-1 mx-5">
                <h3 class="text-center fw-bold mt-3 mb-0 text-primary fs-5">Credit score:</h3>
                <round-progress class="arc mt-4"
                    [current]="score.creditScore"
                    [max]="1000"
                    [color]="color.colorScore"
                    [background]="'#eaeaea'"
                    [radius]="100"
                    [stroke]="15"
                    [semicircle]="true"
                    [rounded]="true"
                    [clockwise]="true"
                    [responsive]="true"
                    [duration]="800"
                    [animation]="'easeInOutQuart'"
                    [animationDelay]="0">
                </round-progress>
                <div class="arc-text">
                    <span class="text-center d-block">{{score.creditScore | number : '1.2-2'}}</span>
                    <span class="text-center d-block">Puntos</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="proba border rounded-1 mx-5">
                <h3 class="text-center fw-bold mt-3 mb-0 text-primary fs-5">Probabilidad de no pagar:</h3>
                <circle-progress *ngIf="historial" class="d-flex justify-content-center" [percent]="score.unPaymentProbability * 100" [radius]="75"
                 [outerStrokeWidth]="10" [innerStrokeWidth]="100" [outerStrokeColor]="color.colorProbabilidadImpago" 
                 [innerStrokeColor]="'rgb(216, 216, 216)'" [animation]="true" [animationDuration]="300" 
                 [showSubtitle]="false" [animationDuration]="800"
                ></circle-progress>
                <p *ngIf="!historial" class="text-center fw-bold fs-6 mt-3 text-secondary mb-3 py-4">No posee historial de prestamos</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="score border rounded-1 mx-5">
                <h3 class="text-center fw-bold mt-3 mb-3 text-primary fs-5">Años como cliente:</h3>
                <p class="text-center fw-bold fs-3 mt-3 mb-0 text-secondary p-4">{{tiempo}}</p>
            </div>
        </div>
    </div>
</section>
